<main class="main-container">
    <h2 class="section-title">
        <span class="slash">/</span>FUNCIONALIDADES
        <button
        mat-icon-button
        matTooltip="Pulsa sobre el elemento que deseas configurar.Para eliminarlo, vuelve a pulsarlo."
        matTooltipClass="tooltip-grande"
        aria-label="Ayuda funcionalidades">
        <mat-icon>info</mat-icon>
        </button>
    </h2>
    <div class="layout-grid">
        <section class="stages">
            <app-stages></app-stages>
        </section>
        <section class="options">
            <app-options></app-options>
        </section>
        <section class="setup">
            <app-setup></app-setup>
        </section>
    </div>
</main>