<main class="main" >
  <div class="item-card"[ngClass] ="{'active':isActive}" (click)="onCardClick()">
    <h2>{{item.key_name}}</h2>
    <!-- SOLO se muestra si item.frontlevel === '21' -->
    <!--  <span *ngIf="item.frontlevel === '22'">:{{ selectedBackgroundColor }}</span> -->

    <span *ngIf="item.value && item.value.active !== undefined">:{{ item.value.active }}</span>
    <span *ngIf="item.value && item.value.type">:{{ item.value.type }}</span>
    <span *ngIf="item.value && item.value.max">:{{ item.value.max }}</span>
    <span *ngIf="item.value && item.value.text">:{{ item.value.text }}</span>
    <span *ngIf="item.value && item.value.value">:{{ item.value.value }}</span>
    <span *ngIf="item.value && item.value.values">:{{ item.value.values }}</span>
    
  </div>
</main>



