  /* Contenedor principal */
.cont {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.2rem;
  overflow-y: auto;
  height: 100%; /* Igual que la grid o su contenedor */
   max-height: 100%;
   padding-bottom: 1rem;
}
  


/* Cada grupo (document, selfie, etc.) */
.group-box {
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 1rem;
  background: #fafafa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Título del grupo */
.group-title {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: #1e1d1d;
}

/* Contenedor de ítems dentro de un grupo */
.group-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 1rem;
}

/*
  - Cada item ocupa mínimo 20% del ancho disponible.
  - Si hay espacio para más de 3, no creará una cuarta columna (auto-wrap lo controla).
  - Si no caben más, bajan automáticamente a la siguiente fila.
*/

.item.locked {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none; 
  filter: grayscale(100%);
  transition: opacity 0.3s ease;
  
}