.layout-grid{
    display: block;
    grid-template-columns: 15% 1fr 25%;
    height: 100vh;
    gap:10px;
    padding: 10px;
}
h2{
    font-size: 1.7rem;
    color:#000D44;
}
.slash {
    color: #FF7777; /* el color que quieras */
}
.temas {
    padding: 16px;   
    flex-wrap: wrap;  
}
.fuentes {
    padding: 16px;
    color: white;
}
.componentes{ 
    margin: 2rem auto;
    margin-bottom:2rem;
    max-width: 85%;
    padding: 16px;
}
h3{
    font-size: 1.2rem;
    color:#000D44;
    font-weight: 500;
}