<main class="main-container">
    <h2 class="section-title">
        <span class="slash">/</span>ESTILOS
        <button
        mat-icon-button
        matTooltip="Pulsa sobre el elemento que deseas configurar.Para eliminarlo, vuelve a pulsarlo."
        matTooltipClass="tooltip-grande"
        aria-label="Ayuda funcionalidades">
        <mat-icon>info</mat-icon>
        </button>
    </h2>
    <div class="layout-grid">
        <section class="temas">
            <app-temas></app-temas>
        </section>
        <section class="fuentes">
            <app-fuentes></app-fuentes>
        </section>
        <section class="componentes">
            <h3>COMPONENTES:</h3>
            <app-componentes ></app-componentes>
        </section>
    </div>
</main>