
.layout-grid{
    display: block;
    grid-template-columns: 15% 1fr 25%;
    height: 100vh;
    gap:10px;
    padding: 10px;
  
}
.componentes {

    padding: 16px;
 

}
.temas {
    padding: 16px;   
  flex-wrap: wrap;  


}
.fuentes {

    padding: 16px;
    color: white;

}