<main class="main-container">
    <h2><span class="slash">/</span>FUNCIONALIDADES</h2>
    <p>Pulsa sobre el elemento que deseas configurar.</p>
    <p>Para eliminarlo, vuelve a pulsarlo.</p>
    <div class="layout-grid">
        <section class="temas">
            <app-temas></app-temas>
        </section>
        <section class="fuentes">
            <app-fuentes></app-fuentes>
        </section>
        <section class="componentes">
            <h2>COMPONENTES</h2>
            <app-componentes ></app-componentes>
        </section>
    </div>
</main>