.login-container {
  width: 100%;
  height: 100vh;              /* Ocupa la pantalla completa */
  display: flex;
  justify-content: center;     /* Centra horizontal */
  align-items: center;         /* Centra vertical */
  background: #f5f5f5;         /* opcional, fondo gris claro */
}

.login-card {
  width: 350px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  width: 100%;
}
