.app-container {
  display: flex;
  flex-direction: column;
   height: calc(100% - 4px);
  border:4px solid #340dd3;
}
.navbar{
    display:flex;
    flex: 0 0 auto; /* altura fija para el navbar */
    justify-content: space-between; /* separa logo y enlaces*/
    align-items: center;
    background-color:#000D44;
    color:white;
    padding:10px 20px;
}
.main-content {
  flex: 1 1 0;    /* ocupa el resto de la pantalla */
  overflow: hidden;  /* permite que los hijos gestionen scroll */
  
  min-height: 0;   
}
.nav-links{
    list-style: none;
    display: flex;
    gap:20px;
    margin:0;
}
.nav-links li a {
    color:white;
    text-decoration: none;
}