<div class="app-container">
  <mat-toolbar color="accent" class="app-toolbar">
   <div class="logo">
      <img src="assets/logo.png" alt="MiLogo" />
    </div>
  <span class="spacer"></span> 

      <!-- Menú de navegación -->
  <ng-container *ngIf="!(authService.user$ | async)">
    <button mat-button class="nav-btn" routerLink="/home" routerLinkActive="active-link">INICIO</button>
  </ng-container>

  <ng-container *appCan="[1, 2, 3]">
    <button mat-button class="nav-btn" routerLink="/funcionalidad" routerLinkActive="active-link">FUNCIONALIDADES</button>
  </ng-container>

  <ng-container *appCan="[1, 2]">
    <button mat-button class="nav-btn" routerLink="/estilos" routerLinkActive="active-link">ESTILOS</button>
  </ng-container>

  <ng-container *appCan="1">
    <button mat-button class="nav-btn" routerLink="/textos" routerLinkActive="active-link">TEXTOS</button>
    <button mat-button class="nav-btn" routerLink="/medias" routerLinkActive="active-link">MEDIAS</button>
  </ng-container>

  <ng-container *ngIf="authService.user$ | async">
    <button mat-button class="nav-btn" (click)="logout()">LOGOUT</button>
  </ng-container>
    
</mat-toolbar>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>



    





