<div class="app-container">
  <nav class="navbar">
   <div class="logo">
      <img src="assets/logo.png" alt="MiLogo" />
    </div>
    <ul class="nav-links">

      <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>

      <!-- Esta opción pueden verla todos  -->
           <!-- Mostrar login solo si NO hay usuario -->
      <li *ngIf="!(authService.user$ | async)">
        <a routerLink="/login" routerLinkActive="active">LOGIN</a>
      </li>

      <li *appCan="[1, 2, 3]">
        <a routerLink="/funcionalidad" routerLinkActive="active">FUNCIONALIDADES</a>
      </li>

      <!-- Esta opción SOLO para admin -->
      <li *appCan="[1, 2]">
        <a routerLink="/estilos" routerLinkActive="active">ESTILOS</a>
      </li>
      
       <li *appCan="1">

        <a routerLink="/textos" routerLinkActive="active">TEXTOS</a>
      </li>
       <li *appCan="1">
        <a routerLink="/medias" routerLinkActive="active">MEDIAS</a>
      </li>
      <!-- Mostrar logout solo si hay usuario -->
      <li *ngIf="authService.user$ | async">
        <a href="#" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>



    





