pre {
  background: #f5f5f5;
  padding: 1rem;
  border-radius: 8px;
  max-height: 60vh;
  overflow-y: auto;
  font-size: 14px;
}
h2{
  font-size: 1.7rem;
  color:#000D44;
}
.slash {
  color: #FF7777; /* el color que quieras */
}