<main class="main-container">
  <h2>OPCIONES SELECCIONADAS</h2>
  <div
    cdkDropList
    id="selected-list"
    [cdkDropListData]="selectedItems"
    class="selected-container"
    [cdkDropListConnectedTo]="dropListIds"
    (cdkDropListDropped)="onItemDropped($event)">
 
      <app-item *ngFor="let item of selectedItems" [item]="item" cdkDrag [cdkDragData]="item"></app-item>

    <!--<button (click)="insertValue()"> insertar</button>-->
    
  </div>
  <div class="actions">
    <button class="del-btn" (click)="onDelete()"> BORRAR</button>
    <button class="json-btn" (click)="crearJson()"> MOSTRAR JSON</button>
    
  </div>
</main>

