<div class="wrapper">
    <h2><span class="slash">/</span>PERSONALIZACIÓN DE IMÁGENES</h2>
    <main class="main-container">
    <img *ngIf="imagenUrl" [src]="imagenUrl" alt="Documento">

 
    <!--  LIBRE -->
    <mat-form-field  appearance="outline"  class="full-width textarea-white"  *ngIf="mostrarTextoVacio">


    <mat-label>Personaliza la url de tu imagen</mat-label>
    <textarea
        matInput
        [(ngModel)]="textoPorDefecto"
        cdkTextareaAutosize
        cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="10">
    </textarea>
    </mat-form-field>

    <div class="actions" *ngIf="mostrarTextoVacio">
        <button mat-stroked-button color="accent" (click)="onCancel()">CANCELAR</button>
        <button mat-raised-button color="primary" (click)="insertValue()">GUARDAR CAMBIOS</button>
    </div>
    </main>
    <div class="actions-general">
        <button mat-stroked-button color="warn" (click)="onDelete()">BORRAR</button>
        <button mat-raised-button color="primary" (click)="crearJson()">MOSTRAR JSON</button>
    </div>

  </div>
