<div class="landing">

  <!-- Título superior -->
  <h1 class="mat-display-large landing-title">
    Configurador xpressId NoCode
  </h1>

  <!-- Capa oscura + contenido -->
  <div class="overlay">
    <!--
    <h2 class="mat-headline-medium">
      Bienvenido a mi aplicación
    </h2>
-->
    <p class="mat-body-large">
      Define la configuración de tu fichero json de forma fácil y rápida
    </p>

    <button mat-raised-button color="primary" class="login-btn">
      <!--   <button mat-raised-button color="primary" (click)="goToLogin()">-->
      Iniciar sesión
    </button>
  </div>

</div>
