.back {
  width: 100%;
  height: 100%;
  background-image: url('/assets/imagen_back.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.landing {
  position: relative;
  height: 100vh;
  background-image: url('/assets/imagen_back.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TÍTULO SUPERIOR */
.landing-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-10%);
  z-index: 3;
  color: #000D44;
  font-size: 4rem;
  font-weight: 800;
  text-align: left;
}

/* OVERLAY */
.overlay {
  position: absolute;
  top: 55%;
  left: 55%;
  z-index: 2;
  background-color: #000d44;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  color: white;
  max-width: 600px; /* ancho máximo deseado */
  margin: 0 auto;    /* centra horizontalmente */
  text-align: center; /* opcional: centra texto */
}

.mat-headline-medium {
  font-size: 3rem;
  font-weight: 700;
}

.mat-body-large {
  font-size: 2rem;
  line-height: 1.5;
}

.login-btn {
  font-size: 1.5rem; /* tamaño del texto */
  padding: 32px 24px; /* opcional: aumentar tamaño del botón */
  margin-top:24px;
}

/* Ajustes responsive */
@media (max-width: 768px) {
  .landing-title {
    font-size: 2rem;
    top: 0px;
  }
}
