
/* CONTENEDOR PADRE */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

/* CONTENIDO PRINCIPAL */
.main-container {
  width: 90%;
  max-width: 90%;
  flex: 1; /* empuja actions-general hacia abajo */
  display: flex;
  flex-direction: column;
  gap: 16px;
  
}
.selected-container {
  min-height: 90%;
  border: 2px dashed #999999;
  display: block;
   }
.actions {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  margin-top:1rem;
}
h2{
    font-size: 1.7rem;
    color:#000D44;
}
.slash {
    color: #FF7777; /* el color que quieras */
}