<h2 class="section-title">
  <span class="slash">/</span>ESTILOS DISPONIBLES
  <button
    mat-icon-button
    matTooltip="Arrastra a la parte de opciones seleccionadas los componentes que quieres personalizar. Puedes cancelar arrastrando de nuevo hacia este contenedor."
    matTooltipClass="tooltip-grande"
    aria-label="Ayuda funcionalidades">
    <mat-icon>info</mat-icon>
  </button>
</h2>
<p>Arrastra a la parte de opciones seleccionadas los componentes que quieres personalizar. </p>
<main class="cont">
  <div *ngFor="let groupKey of objectKeys(level2Groups)" class="group-box">
    <p class="group-title">{{ groupKey | uppercase }}</p>
    <div
      cdkDropList
      [id]="groupKey + '-list'"
      class="group-items"
      [cdkDropListData]="level2Groups[groupKey]"
      [cdkDropListConnectedTo]="['selected-list']"
      (cdkDropListDropped)="onItemDropped($event)"
    >
      <app-item
        *ngFor="let item of level2Groups[groupKey]"
        [item]="item"
        class="item"
        cdkDrag
        [cdkDragData]="item"
         [cdkDragDisabled]="item.locked"
        [ngClass]="{ 'locked': item.locked }"
      >{{ item.name }}</app-item>
    </div>
  </div>
</main>

